<%- include('../layouts/header.ejs') %>


    <link rel="stylesheet" href="/css/product.css">
</head>

<body>

<%- include('../layouts/navbar.ejs')%>
    <main>

    </main>
<%- include('../layouts/footer.ejs')%>